.stack-work/
*.jar
*.swp
*~
Naproche-SAD.cabal
stack.yaml.lock
x86_64-darwin/
x86_64-linux/
x86_64-windows/

# Ignore profiling output
*.aux
*.hp
*.prof
*.ps
.DS_Store

# TEX-related files.
*.fdb_latexmk
*.aux
*.ftl.pdf
*.log
*.fls
*.synctex.gz

isabelle-release/
