.stack-work/
*.jar
*.swp
*~
Naproche.cabal
stack.yaml.lock
x86_64-darwin/
x86_64-linux/
x86_64-windows/
.vscode
dist-newstyle/
.envrc
.metals/
.scala-build/

# Ignore profiling output
*.hp
*.prof
*.ps
.DS_Store

# TeX-related files.
*.fdb_latexmk
*.pdf
*.log
*.fls
*.synctex.gz
*.out
*.toc
*.ftl.synctex(busy)
*.xdv
*.bbl
*.bcf
*.blg
*.run.xml
*.aux
*-blx.bib
*.sref
*.upa
*.upb
*.sms
*.xhtml
*.glo
*.hd
*.idx
*.dvi
*.gls
*.ilg
*.ind
*.rlog
